<!-- 3 -->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="signUpForm" (submit)="onSignUp()">
        <div class="form-group">
          <label for="username">Username*</label>
          <input
            formControlName="username"
            type="text"
            id="username"
            class="form-control"
          />

          <span
            class="text-danger"
            *ngIf="f['username'].touched && f['username'].hasError('required')"
          >
            Username is required field !!
          </span>
          <ng-container *ngIf="f['username'].dirty">
            <span
              class="text-danger"
              *ngIf="f['username'].hasError('noSpaceBar')"
            >
              Space is not allowed in username !!
            </span>
            <span
              class="text-danger"
              *ngIf="f['username'].hasError('minlength')"
            >
              minimum legth of username should be
              {{f['username'].errors?.['minlength'].requiredLength}}
              and the actual length is
              {{f['username'].errors?.['minlength'].actualLength}}
            </span>
            <span
              class="text-danger"
              *ngIf="f['username'].hasError('maxlength')"
            >
              maximum legth of username should be
              {{f['username'].errors?.['maxlength'].requiredLength}}
              and the actual length is
              {{f['username'].errors?.['maxlength'].actualLength}}
            </span>

            <span class="text-danger" *ngIf="f['username'].hasError('pattern')">
              username should not include numbers and special charectors !!
            </span>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input
            formControlName="email"
            type="text"
            id="email"
            class="form-control"
          />

          <span
            class="text-danger"
            *ngIf="f['email'].touched && f['email'].hasError('required')"
          >
            Email is required field !!
          </span>

          <span
            class="text-danger"
            *ngIf="f['email'].dirty && f['email'].hasError('pattern')"
          >
            Email pattern is not correct !!
          </span>
          <div *ngIf="f['email'].pending" class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <span
            class="text-danger"
            *ngIf="f['email'].dirty && f['email'].hasError('emailExistErr')"
          >
          {{f['email'].errors?.['emailExistErr']}}
          </span>
          <span
            class="text-success"
            *ngIf="f['email'].dirty && f['email'].valid"
          >
          This email is Available !
          </span>
        </div>

        <div class="form-group">
          <label for="emiId">Employee Id*</label>
          <input
            formControlName="empId"
            placeholder="E123"
            type="text"
            class="form-control"
          />

          <span
            class="text-danger"
            *ngIf="f['empId'].touched && f['empId'].hasError('required')"
          >
            Employee Id is required Field !!
          </span>

          <span
            class="text-danger"
            *ngIf="f['empId'].dirty && f['empId'].hasError('invalidEmpId')"
          >
         {{f['empId'].errors?.['invalidEmpId']}}
        </span>
        </div>
        <div class="form-group">
          <h5>Gender*</h5>
          <!-- <label for="female">
            <input type="radio" value="female" name="gender" formControlName="gender" id="female">female
          </label>
          <label for="male">
            <input type="radio" value="male" name="gender" formControlName="gender" id="male">male
          </label> -->

          <ng-container *ngFor="let gender of genderArr">
            <label [for]="gender">
              <input
                type="radio"
                [value]="gender"
                name="gender"
                formControlName="gender"
                [id]="gender"
              />{{ gender | titlecase }}
            </label>
          </ng-container>
        </div>

        <div formArrayName="skills">
          <h5>Add Skills</h5>
          <div
            class="row"
            *ngFor="let skill of skillsFormArr.controls; let i = index"
          >
            <div class="col-md-10">
              <input
                type="text"
                [formControlName]="i"
                class="form-control mb-2"
              />
            </div>
            <div class="col-md-2" *ngIf="i > 0">
              <button (click)="onSkillRemove(i)" class="btn btn-sm btn-danger">
                Remove
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button
                [disabled]="skillsFormArr.invalid"
                *ngIf="skillsFormArr.length < 5; else noMoreSkill"
                type="button"
                (click)="onSkillAdd()"
                class="btn btn-sm btn-primary"
              >
                Add More Skill
              </button>
              <ng-template #noMoreSkill>
                <span class="text-warning">You can add max 5 skills!</span>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" formGroupName="currentAddress">
            <h5>Current Address</h5>
            <label for="country">Country</label>
            <select formControlName="country" id="country" class="form-control">
              <option value="">Select Country</option>
              <option
                [value]="country.country"
                *ngFor="let country of countryArr"
              >
                {{ country.country }}
              </option>
            </select>

            <div class="form-group">
              <label for="state">State</label>
              <input
                type="text"
                formControlName="state"
                id="state"
                class="form-control"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGrp['state'].touched &&
                  currAddInnerFormGrp['state'].hasError('required')
                "
              >
                State is mandatory in current address !
              </span>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input
                type="text"
                formControlName="city"
                id="city"
                class="form-control"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGrp['city'].touched &&
                  currAddInnerFormGrp['city'].hasError('required')
                "
              >
                City is mandatory in current address !
              </span>
            </div>
            <div class="form-group">
              <label for="zipcode">Zipcode</label>
              <input
                type="text"
                formControlName="zipcode"
                id="zipcode"
                class="form-control"
              />
              <span
                class="text-danger"
                *ngIf="
                  currAddInnerFormGrp['zipcode'].touched &&
                  currAddInnerFormGrp['zipcode'].hasError('required')
                "
              >
                Zipcode is mandatory in current address !
              </span>
            </div>
          </div>

          <div class="col-md-6" formGroupName="permanentAddress">
            <h5>Permanent Address</h5>
            <label for="country">Country</label>
            <select formControlName="country" class="form-control">
              <option value="">Select Country</option>
              <option
                [value]="country.country"
                *ngFor="let country of countryArr"
              >
                {{ country.country }}
              </option>
            </select>

            <div class="form-group">
              <label for="state">State</label>
              <input
                type="text"
                formControlName="state"
                
                class="form-control"
              />
              <span
                class="text-danger"
                *ngIf="
                  perAddInnerFormGrp['state'].touched &&
                  perAddInnerFormGrp['state'].hasError('required')
                "
              >
                State is mandatory in permanent address !
              </span>
            </div>
            <div class="form-group">
              <label for="city">city</label>
              <input
                type="text"
                formControlName="city"
                
                class="form-control"
              />

              <span
                class="text-danger"
                *ngIf="
                  perAddInnerFormGrp['city'].touched &&
                  perAddInnerFormGrp['city'].hasError('required')
                "
              >
                City is mandatory in permanent address !
              </span>
            </div>
            <div class="form-group">
              <label for="zipcode">Zipcode</label>
              <input
                type="text"
                formControlName="zipcode"
                
                class="form-control"
              />
              <span
                class="text-danger"
                *ngIf="
                  perAddInnerFormGrp['zipcode'].touched &&
                  perAddInnerFormGrp['zipcode'].hasError('required')
                "
              >
                Zipcode is mandatory in permanent address !
              </span>
            </div>
          </div>

          <div class="col-12">
            <label for="isAddSame">
              <input
                formControlName="isAddSame"
                type="checkbox"
                id="isAddSame"
              />
              Current Address and permanent Address both are same
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input
            type="password" [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            id="password"
            class="form-control"
          />
          <i class="fas" [ngClass]="{'fa-eye-slash':!showPassword, 'fa-eye':showPassword}" (click)="showPassword=!showPassword"></i>
        </div>
        <div class="form-group">
          <label for="confirmPass">confirmPass</label> 
          <input
            type="password" [type]="showPasswordConfirm ? 'text' : 'password'"
            formControlName="confirmPass"
            id="confirmPass"
            class="form-control"
          />
          <i class="fas" [ngClass]="{'fa-eye-slash':!showPasswordConfirm, 'fa-eye':showPasswordConfirm}" (click)="showPasswordConfirm=!showPasswordConfirm"></i>

        </div>
        <span class="text-danger" *ngIf="f['password'].value !== f['confirmPass'].value">
          password and confirm password must be same !
        </span>
        <button [disabled]="signUpForm.invalid" class="btn btn-primary btn-sm btn-block">Sign Up</button>
      </form>

      <hr />
      {{ signUpForm.getRawValue() | json }}
    </div>
  </div>
</div>

<!-- 2 -->
<!-- 

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="signUpForm" (submit)="onSignUp()">
        <div class="form-group">
          <label for="username">Username*</label>
          <input formControlName="username" type="text" id="username" class="form-control">
        </div>

        <span class="text-danger" *ngIf="getUserName.touched && getUserName.hasError('required')">
          Username is required field !!
        </span>
        <ng-container *ngIf="getUserName.dirty">
          <span class="text-danger" *ngIf="getUserName.hasError('minlength')">
            minimum legth of username should be 
            {{getUserName.errors?.['minlength'].requiredLength}}
            and the actual length is 
            {{getUserName.errors?.['minlength'].actualLength}}
  
          </span>
          <span class="text-danger" *ngIf="getUserName.hasError('maxlength')">
            maximum legth of username should be 
            {{getUserName.errors?.['maxlength'].requiredLength}}
            and the actual length is 
            {{getUserName.errors?.['maxlength'].actualLength}}
  
          </span>
  
          <span class="text-danger" *ngIf="getUserName.hasError('pattern')">
           username should not include numbers and special charectors !!
          </span>
        </ng-container>
       

        <div class="form-group">
          <label for="email">Email*</label>
          <input formControlName="email" type="text" id="email" class="form-control">
        </div>

        <span class="text-danger" *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].hasError('required')">
          Email is required field !!
        </span>

        <span class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.controls['email'].hasError('pattern')">
          Email pattern is not correct !!
         </span>

        <button class="btn btn-primary btn-sm btn-block">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>


 -->

<!-- 1 -->

<!-- <div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="signUpForm" (submit)="onSignUp()">
        <div class="form-group">
          <label for="username">Username*</label>
          <input formControlName="username" type="text" id="username" class="form-control">
        </div>

        <span class="text-danger" *ngIf="signUpForm.controls['username'].touched && signUpForm.controls['username'].hasError('required')">
          Username is required field !!
        </span>
        <ng-container *ngIf="signUpForm.controls['username'].dirty">
          <span class="text-danger" *ngIf="signUpForm.controls['username'].hasError('minlength')">
            minimum legth of username should be 
            {{signUpForm.controls['username'].errors?.['minlength'].requiredLength}}
            and the actual length is 
            {{signUpForm.controls['username'].errors?.['minlength'].actualLength}}
  
          </span>
          <span class="text-danger" *ngIf="signUpForm.controls['username'].hasError('maxlength')">
            maximum legth of username should be 
            {{signUpForm.controls['username'].errors?.['maxlength'].requiredLength}}
            and the actual length is 
            {{signUpForm.controls['username'].errors?.['maxlength'].actualLength}}
  
          </span>
  
          <span class="text-danger" *ngIf="signUpForm.controls['username'].hasError('pattern')">
           username should not include numbers and special charectors !!
          </span>
        </ng-container>
       

        <div class="form-group">
          <label for="email">Email*</label>
          <input formControlName="email" type="text" id="email" class="form-control">
        </div>

        <span class="text-danger" *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].hasError('required')">
          Email is required field !!
        </span>

        <span class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.controls['email'].hasError('pattern')">
          Email pattern is not correct !!
         </span>

        <button class="btn btn-primary btn-sm btn-block">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div> -->
